@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.wrapper {
  .el-upload__tip {
    text-align: center;
    //color: #409EFF;
  }
}

.upload-wrapper {
  text-align: center;

  .el-upload {
    cursor: pointer;
  }
}

.result-wrapper {
  text-align: center;
  margin-top: 5%;

  img {
    width: 50%;
  }

  .error-area {
    position: absolute;
    border: 4px solid #409EFF;
  }
}